@using MapLab.Data.Entities
@using MapLab.Data.Managers
@inject SignInManager<Profile> SignInManager
@inject ProfileManager<Profile> ProfileManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();

    var profile = await ProfileManager.GetUserAsync(User);
    var isAdmin = profile != null && await ProfileManager.IsInRoleAsync(profile, "Admin");

    var userWithPfp = new MapLab.Data.Entities.Profile() { ProfilePictureFilePath = "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/364e52dc-32da-493c-a45a-e121ef3fe06c/de9vyhn-ebc4dc68-44bc-4d86-ae2f-e39740471e8f.png/v1/fill/w_894,h_894,q_70,strp/dream_pfp_by_shirsis_de9vyhn-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzM2NGU1MmRjLTMyZGEtNDkzYy1hNDVhLWUxMjFlZjNmZTA2Y1wvZGU5dnlobi1lYmM0ZGM2OC00NGJjLTRkODYtYWUyZi1lMzk3NDA0NzFlOGYucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.gob7sMM_ugBRqqk7i6EIxO5092qHJTWmxGyamv0MtrE" };
}

<div class="sidebar d-flex flex-column">
    
</div>

<div class="sidebar d-flex flex-column flex-shrink-0 p-3" id="sidebar">
    <button class="btn btn-outline-light mb-3" id="toggleSidebar">Toggle</button>
    <div class="text-center mb-4 p-4">
        <a asp-controller="Profile" asp-action="Index">
            <img src="@userWithPfp.ProfilePictureFilePath" alt="(@profile.UserName)'s Profile Picture'" class="profile-picture img-fluid rounded-circle">
        </a>
        <h4 class="mt-3 text-wrap">
            @if (isAdmin)
            {
                <i class="bi bi-star-fill" title="Admin"></i>
            }
            @profile.UserName
        </h4>
    </div>
    <ul class="nav nav-pills flex-column m-3">
        <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
        @if (hasExternalLogins)
        {
            <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
        }
        <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>



        <form asp-area="Identity"
              asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
              method="post">
            <button class="btn btn-danger w-100" type="submit">Logout</button>
        </form>
    </ul>
</div>

<script>
    $(document).ready(function () {
        $('#toggleSidebar').click(function () {
            $('#sidebar').toggleClass('small');
        });
    });
</script>
