@using MapLab.Web.Models.Maps
@model MapViewModel
<div class="card map-card border-dark bg-dark text-white h-100 shadow-lg">
    <a asp-controller="Maps"
    asp-action="View"
    asp-route-Id="@Model.Id"
    class="text-decoration-none text-white">
        <div class="card-header d-flex justify-content-between align-items-center bg-dark border-secondary">
            <h5 class="card-title mb-0 text-truncate">
                @Model.Name
            </h5>
            <div class="dropdown">
                <button class="btn btn-dark btn-sm" type="button" id="mapOptionsDropdown-@Model.Id" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="mapOptionsDropdown-@Model.Id">
                    <li>
                        <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#share-map-modal">
                            <i class="bi bi-share-fill me-2"></i>Share
                        </button>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <form asp-area=""
                        asp-controller="Maps"
                        asp-action="DeleteMap"
                        asp-route-Id="@Model.Id"
                        method="post">
                            <button class="dropdown-item text-danger" type="submit">
                                <i class="bi bi-trash-fill me-2"></i>Delete
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <img class="card-img-top map-thumbnail"
        src="@(Model.ThumbnailFilePath ?? "https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL21hcHMuanBnIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjo4Mjh9fX0=")"
        alt="@Model.Name Thumbnail">

        <div class="card-body">
            <h6 class="card-subtitle text-muted">@Model.TemplateName</h6>
            @if (!Model.IsPublic)
            {
                <span class="badge rounded-pill bg-primary">
                    <i class="bi bi-lock-fill"></i>
                </span>
            }
        </div>
    </a>
</div>