@model MapLab.Web.Models.Shared.ModalViewModel

<head>
    <link rel="stylesheet" href="~/css/modal.css" asp-append-version="true"/>
</head>
<div class="modal fade" id="@Model.Id" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">@Model.Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @RenderBody()
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Model.LeftButtonText</button>
                <button type="button" class="btn btn-primary">@Model.RightButtonText</button>
            </div>
        </div>
    </div>
</div>
