@using MapLab.Common.Extensions
@using MapLab.Data.Models.Enums
@using MapLab.Shared.Models.FilterModels
@using MapLab.Web.Models.Templates
@using Microsoft.AspNetCore.Components.Forms
@inject MapLab.Services.Contracts.IMapService _mapService
@inject AutoMapper.IMapper _mapper

<div class="row">
    <div class="search-bar col-12 col-md-8 position-relative">
        <input type="text" class="form-control rounded-pill pl-5" @oninput="OnSearch" placeholder="Search" />
        <span class="position-absolute icon-container">
            <i class="bi bi-search"></i>
        </span>
    </div>
    <div class="col-6 col-md-4 d-flex align-items-center">
        <InputSelect class="form-select rounded-pill" @bind-Value="filters.Region" TValue="Region?">
            <option class="text-muted" value="">Region</option>
            @foreach (var region in Enum.GetValues<Region>())
            {
                <option value="@region">@region.GetDisplayName()</option>
            }
        </InputSelect>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" @bind-value="filters.ByMapLab" id="byMapLabSwitch">
            <label class="form-check-label" for="byMapLabSwitch">By MapLab</label>
        </div>
    </div>
</div>

@if (string.IsNullOrEmpty(filters.SearchQuery))
{
    <h2>Recents</h2>
    <div class="container-fluid">
        <div class="row flex-nowrap overflow-auto">
            <ul class="list-unstyled d-flex gap-3 position-relative">
                @foreach (var template in templates)
                {
                    <li class="d-inline-block">
                        <div class="position-relative">
                            <TemplateCard MapTemplate="@template"
                                          IsSelected="@(CreateMapModal?.SelectedMapTemplate?.Id == template.Id)"
                                          OnSelected="OnTemplateSelected" />
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

    <h2>By MapLab</h2>
    <div class="container-fluid">
        <div class="row flex-nowrap overflow-auto">
            <ul class="list-unstyled d-flex gap-3 position-relative">
                @foreach (var template in templates)
                {
                    <li class="d-inline-block">
                        <div class="position-relative">
                            <TemplateCard MapTemplate="@template"
                                          IsSelected="@(CreateMapModal?.SelectedMapTemplate?.Id == template.Id)"
                                          OnSelected="OnTemplateSelected" />
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

    <h2>Featured</h2>
    <div class="container-fluid">
        <div class="row flex-nowrap overflow-auto">
            <ul class="list-unstyled d-flex gap-3 position-relative">
                @foreach (var template in templates)
                {
                    <li class="d-inline-block">
                        <div class="position-relative">
                            <TemplateCard MapTemplate="@template"
                                          IsSelected="@(CreateMapModal?.SelectedMapTemplate?.Id == template.Id)"
                                          OnSelected="OnTemplateSelected" />
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
else
{
    <h2>Search Results</h2>
    <div class="container-fluid">
        <div class="row flex-nowrap overflow-auto">
            <ul class="list-unstyled d-flex gap-3 position-relative">
                @foreach (var template in templates)
                {
                    <li class="d-inline-block">
                        <div class="position-relative">
                            <TemplateCard MapTemplate="@template"
                                          IsSelected="@(CreateMapModal?.SelectedMapTemplate?.Id == template.Id)"
                                          OnSelected="OnTemplateSelected" />
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}

@code {
    [CascadingParameter] CreateMapModal? CreateMapModal { get; set; }

    private MapTemplateFiltersModel filters = new MapTemplateFiltersModel();
    private List<MapTemplateViewModel> templates = new();
    private MapTemplateViewModel? selectedTemplate;

    protected override void OnInitialized()
    {
        var templateEntities = _mapService.GetAllMapTemplates();
        templates = _mapper.Map<List<MapTemplateViewModel>>(templateEntities);
    }

    private void OnSearch(ChangeEventArgs e)
    {
        filters.SearchQuery = e.Value?.ToString();
        var templateEntities = _mapService.GetMapTemplates(filters);
        templates = _mapper.Map<List<MapTemplateViewModel>>(templateEntities);
    }

    private void OnTemplateSelected(MapTemplateViewModel template)
    {
        CreateMapModal.SelectedMapTemplate = template;
    }
}
