@using MapLab.Common.Extensions
@using MapLab.Web.Models.Templates

<div class="card selectable-card @SelectedClass"
     style="width: 18rem;"
     @onclick="SelectTemplate">
    @if (MapTemplate.ProfileUserName == "MapLab")
    {
        <div class="position-absolute top-0 end-0 m-2">
            <img src="/images/logo/logo32.png"
                 alt="By MapLab" />
        </div>
    }
    <img class="card-img-top"
         src="https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL21hcHMuanBnIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjo4Mjh9fX0="
         alt="@MapTemplate.Name Thumbnail" />
    <div class="card-body align-items-center">
        <h5 class="card-title">@MapTemplate.Name</h5>
        <div class="d-flex justify-content-between mb-2">
            <h6 class="card-subtitle text-muted">@MapTemplate.Region?.GetDisplayName()</h6>
            @if (MapTemplate.ProfileUserName != "MapLab")
            {
                <a class="d-flex card-link text-muted gap-1"
                   href="/profile/@MapTemplate.ProfileUserName">
                    <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg"
                         class="rounded-pill"
                         width="16"
                         height="16" />
                    <h6>@MapTemplate.ProfileUserName</h6>
                </a>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public MapTemplateViewModel MapTemplate { get; set; }

    [Parameter]
    public bool IsSelected { get; set; }

    [Parameter]
    public EventCallback<MapTemplateViewModel> OnSelected { get; set; }

    private string SelectedClass => IsSelected ? "selected" : string.Empty;

    private async Task SelectTemplate()
    {
        await OnSelected.InvokeAsync(!IsSelected ? MapTemplate : null);
    }
}
